.contact-main-div{
    background-color: greenyellow;
    height: 500px;
    width: 1245px;
    font-family: cursive;
    font-size: 17px;
    padding: 20px;
    display: grid;
    grid-template-columns: 65% 35%;
}
.div-form{
    border: 2px solid brown;
    border-radius: 20px;
    background-color: limegreen;
    margin-left: 25px;
    
    text-align: center;
}
.contact-btn{
    width: 210px;
    height: 30px;
    border-radius: 5px;
    background-color: blue;
    color: beige;
}
form input{
    width: 210px;
    height: 30px;
    border-radius: 5px;
    background-color: bisque;
}
h4{
    border-bottom: 2px solid burlywood;
    padding: 20px;
}
.div-content p:last-child{
    border-bottom: 2px solid gainsboro;
    padding: 18px;
}
.home-btn{
    height: 35px;
    width: 110px;
    border-radius: 20px;
    margin: 25px;
    background-color: blue;
    color:beige
}
